gris_oscuro = #444
gris_claro = #7A7A7A
verde = #6B8E6B
gris_footer = #f0f4ed

body
	color gris_oscuro
	font-family Arial
	font-size 14px
	list-style none
	margin 0

footer
	background-color gris_footer
	height 160px

	.logo
		float left
		margin-top 2.5em
		width 20%
		
		img
			width 70%
	
	.footerlist
		float right
		margin-top 2.5em
		width 80%
		
		div
			display inline-block
			margin-left 2em
			padding 0
			position relative
			width 20%
			
			h6
				color verde
				font-weight bold
				margin-bottom 1em
			ul
				float left
				list-style none
				
				li
					font-size 11px
		
header
	//background-color black
	height 124px
	overflow hidden

	div
		display inline-block
		height 100%
		
	.logo
		//background-color gris_claro
		width 20%
		
		img
			width 100%
	
	.nav1
		//background-color gris_oscuro
		float left
		position relative
		width 40%
		
		nav
			position absolute
			right 60px
			top 50px
			
			li
				display inline-block
				margin-left 8px
				
				a
					color gris_claro
					font-weight bold
					
	.nav2
		//background-color verde
		float right
		position relative
		width 40%
		
		
		div
			display block
			margin 0
			padding 0

		.button
			background-color verde
			border-radius 4px
			position absolute
			right 0
			top 100px
			
			a
				color white
				padding 8px
				text-decoration none
			
		.navright
			position absolute
			right 0
			top 50px
			
			li
				display inline-block
				margin-left 6px
				
				a
					color gris_claro
					font-weight bold
					
		.social
			position absolute
			right 90px
			top 0
			
			a
				color gris_claro
				margin-left 3px
				margin-right 3px
			
#contact
	margin-bottom 3em
	
	.first
			
		.contactus
			float right
			text-align center
			width 50%
			
			h3
				color verde
				font-weight bold
				
		.map
			display inline-block
			float left
			margin 0
			width 50%
		
	.second
		display inline-block
		
		.form
			float left
			text-align center
			width 50%
			

			h3
				color verde
				font-weight bold
			
			.fields
				
				form
					div
						input
							height 2em
							margin-bottom 0.5em
							margin-left 3px
							margin-right 3px
							padding 1em
							width 25%
							
					.button
						background-color verde
						border-radius 4px
						margin-left 30%
						margin-right 30%
						padding 1em
						a
							color white
				
						
		.office
			float right
			width 50%
			
			img
				width 100%

.container
	width 1100px
	margin-left auto
	margin-right auto				
		
		
#section3
	margin-bottom 4em
	
	figure
		margin 0 0 0 0
		padding 0	
		 		
		img
			height auto
			width 100%

#services
	padding 4em

	.box
		display inline-block
		margin-left 25px
		margin-right 0
		padding 0
		text-align center
		width 30%
		
		img
			width 80%
		
		a
			color gris_claro
			font-size 11px
			font-weight bold	
			text-decoration none
		
#slides
	
	#myCarousel
		
		 .carousel-inner
		 	.item
		 		img
				    width 100%
				    margin auto

	
// Móviles en horizontal o tablets en vertical  